:root {

    --bg-color: #ffffff;
    --text-color: #000000;
 

    // Colours
    --primary: #4287f5;
    --secondary: #3e4045;
    --gray: #cccccc;
    --light-blue: #add8e6;
    --white: #ffffff;

    // Globals
    --font-color: var(--dark);
    --link-color: var(--white);


    // Font Sizes
    --heading-h1: 4rem;
    --heading-h2: 3.5rem;
    --heading-h3: 3rem;
    --heading-h4: 2.75rem;
    --heading-h5: 2.25rem;
    --heading-h6: 1.5rem;

}


h1 {
    font-weight: 700;
    font-size: var(--heading-h1);
}

h2 {
    font-weight: 600;
    font-size: var(--heading-h2);
}

h3 {
    font-weight: 500;
    font-size: var(--heading-h3);
}

h4 {
    font-weight: 500;
    font-size: var(--heading-h4);
}

p {
    margin: 0;
    padding-bottom: 16px;
    line-height: 1.5;
}

a {
    color: var(--link-color);
}